{% extends "base.html.twig" %}
{% block title %}Ajout nature courrier entrant{% endblock %}

{% block page_title %}Ajout nature courrier entrant{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}

	<div class="box box-primary">
	    <div class="box-header with-border">
	        <h3 class="box-title">Nouveau</h3>
	    </div>
	    <div class="row">
	        <div class="col-sm-6" style="">
	            <p>{{ form(form) }}</p>
	        </div>
	    </div>
	</div>    	        

{% endblock %}