{% extends "::base.html.twig" %}

{% block title %}Changement de mot de passe{% endblock %}

{# {% block page_title %}Ajouter un utilisateur{% endblock %}
{% block page_subtitle %}{% endblock %} #}

{% block page_title %}<h1 class="mytitle">Changement de mot de passe</h1>{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form) }}
    <div class="row pb-15">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary pull-left" />   
    </div>
    <div class="row">
        <div class="col-md-3">
            {{form(form)}}
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}

