{% extends "::base.html.twig" %}

{% block title %}SQVFBundle:sqvf_dossiers_annee_controle:edit{% endblock %}

{% block body %}
<h1>Welcome to the sqvf_dossiers_annee_controle:edit page</h1>
{% endblock %}
