{% extends "base.html.twig" %}
{% block title %}Annexe TVA{% endblock %}

{% block page_title %}Annexe TVA{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}

    {{ parent() }}
    <div class="box box-primary">

    </div>

{% endblock %}