{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:contribuablesAvecAnomaliesTVA{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:contribuablesAvecAnomaliesTVA page</h1>
{% endblock %}
