{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:DeclarationsNonDepotParContribuables{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:DeclarationsNonDepotParContribuables page</h1>
{% endblock %}
