{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:DeclarationsDepotParEcheance{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:DeclarationsDepotParEcheance page</h1>
{% endblock %}
