{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:SituationDossiersAuDFU{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:SituationDossiersAuDFU page</h1>
{% endblock %}
