{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:TOSurDeclarationPeriodque{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:TOSurDeclarationPeriodque page</h1>
{% endblock %}
