{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:DeclarationsNonDepotParEcheance{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:DeclarationsNonDepotParEcheance page</h1>
{% endblock %}
