{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:DeclarationsDepotParGestionnaire{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:DeclarationsDepotParGestionnaire page</h1>
{% endblock %}
