{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:MouvementDossiersAuDFU{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:MouvementDossiersAuDFU page</h1>
{% endblock %}
