{% extends "::base.html.twig" %}

{% block title %}DBundle:GestionDesActivites:RectificationDeclaration{% endblock %}

{% block body %}
<h1>Welcome to the GestionDesActivites:RectificationDeclaration page</h1>
{% endblock %}
